body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    border: 1px solid rgba(255, 0, 0, 0);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.bg-purple {
    background-color: #9a99ff;
}

.bg-turquoise {
    background-color: #ccffff;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.nav__menu__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav__menu__dropdown {
    position: relative;
    display: inline-block;
}

.nav__menu__dropdown-content a {
    color: black;
    padding: 9% 9%;
    text-decoration: none;
    display: block;
    margin: 0%;
}

.nav__menu__dropdown-content ul {
    padding: 0%;
}

.nav__menu__dropdown:hover .nav__menu__dropdown-content {
    display: block;
}

.nav__menu__dropdown-content a:hover {
    background-color: grey;
}

.nav__menu li {
    list-style-type: none;
}

.nav__menu__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav__menu {
    display: inline-block;
    justify-content: space-around;
    vertical-align: 30px;
    margin-right: 0%;
}

.nav__menu__logo {
    display: inline-block;
}

.nav__menu a {
    color: #333333;
    text-decoration: none;
    margin-right: 0%;
}

.nav__menu h3 {
    display: contents;
}

.nav__menu__logo img {
    height: 80px;
    object-fit: cover;
    width: 100%;
}

.header__items {
    text-align: center;
    width: 100%;
}

.header__items__img {
    width: 100%;
    margin: 3% 0;
}


.footer__menu a {
    color: black;
    text-decoration: none;
}

.article__items ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.article__items img {
    width: 100%;
    margin-top: 1.5em;
    padding: 1.5%;
    border-radius: 1.5%;
    border: 1px solid lightgrey;
}

.article__items p {
    text-align: left;
}

#footer__span {
    display: flex;
}

.article__fire {
    background: #9a99ff;
    display: flex;
}

.article__tent {
    background: #9a99ff;
    display: flex;
}

.article__paw {
    background: #9a99ff;
    display: flex;
}

.article__text {
    display: flex;
    justify-content: space-between;
}

.article__text__contain {
    margin: 3% 0;
    width: 100%;
    padding-right: 1%
}

.article__text__contain__modifier {
    margin: 3% 0;
    width: 100%
}


.article a {
    text-decoration: none;
    color: red;
}

.article h2 {
    text-decoration: underline;
}

.footer h3 {
    margin-right: 2%;
}

.footer__menu {
    display: flex;
}

hr {
    border: 0.5px solid;
    color: lightgray;
}

.article__items strong {
    text-align: left;
}

.article1__about {
    width: 50%;
    padding-right: 1%;
}

.article1__why {
    width: 50%;
    padding-left: 1%;
}

.article1__travel {
    width: 100%;
    padding-bottom: 5%;
}

.article1__contain {
    display: flex;
}

.article1__why__modifier {
    width: 100%;
    vertical-align: middle;
    display: flex;
    padding-bottom: 5%;
}

h2 {
    color: #333333;
}

h3 {
    padding-top: 1%;
    color: white;
}

.article1__why__modifier img {
    height: 100%;
    margin-top: 4%;
}

.article1__travel a {
    border: 1px solid white;
    border-radius: 8%;
    padding: 0.5%;
    text-decoration: none;
    font-size: 1em;
    width: 1%;
    text-align: center;
    color: white;
    background: #78a561;
}

#footer__span {
    color: #333333;
    font-size: 70%;
    padding-bottom: 3%;
}

     {

    /*Laptop*/
    .nav__menu {
        display: inline-block;
        justify-content: space-around;
        vertical-align: 30px;
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media only screen and (max-width: 768px) {

    /*Tablette*/
    .nav__menu {
        display: inline-block;
        justify-content: space-around;
        vertical-align: 30px;
        margin-left: 0%;
        margin-right: 0%;
    }
}


@media only screen and (max-width: 600px) {
    #france {
        width: 100%;
    }

    #algeria {
        display: none;
    }

    #brazil {
        display: none;
    }

    .article1__contain {
        display: block;
    }

    .article1__about {
        width: 100%;
    }

    .article1__why {
        width: 100%;
    }

    .article__text {
        display: block;
    }

    .article__fire {
        width: 100%;
    }

    .article__tent {
        width: 100%;
    }

    .article__paw {
        width: 100%;
    }

    .article__text__contain {
        margin: 3% 0;
        width: 100%;
        padding-right: 0%;
    }

    .article__text__contain__modifier {
        margin: 3% 0;
        width: 100%;
    }

    .nav__menu a {
        color: #333333;
        text-decoration: none;
        margin-right: 0%;
    }

    .nav__menu h3 a {
        display: block;
        border-bottom: 1px solid lightgrey;
        width: 300%;
        padding: 10% 0;
    }

    .nav__menu__logo {
        border-bottom: 1px solid lightgrey;
    }

    .nav__menu__dropdown {
        display: block;
    }
}
